﻿@{
    ViewData["Title"] = "Index";
}
<body class="Index">
    <div class="container">
        <div class="content-box">
            <div class="image-container">
                <img class="imgprinci" src="../img/princi.png" alt="Logo">
            </div>
            <p class="presentacion" >Bienvenido al preguntados</p>
            <div     class="configjuego">
                    <a class="navbar-brand" href='@Url.Action("ConfigurarJuego", "Home")'>ConfigurarJuego</a>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
            </div>
        </div>
    </div>
</body>