﻿@{
    ViewData["Title"] = "Index";
}
<body class="Index">
    <div class="container">
        <div class="content-box">
            <div class="image-container">
                <img class="imgprinci" src="../img/princi.png" alt="Logo">
            </div>
            <p class="presentacion" >PreguntadOrt es una web replica de un videojuego llamado preguntados en el cual una vez que ingreses a la web tendras que registrarte, luego tendras estaras en la pagina principal donde tendras la seccion para Configurar El juego donde tendras que elegir el modo que quieres jugar y a la dificultad de preguntas que quieres acceder, una vez finalizes de completar ese mini formulario arrancas el juego y tendras que responder varias preguntas segun el modo y difultad que pusiste, al finalizar las preguntas obtendras tu puntaje junto a tu puntaje maximo, la cantidad de respuestas que acertaste y si quieres volver a jugar del mismo modo o cambiar alguna configuracion para volver a jugar viviendo otra experiencia. Facilmente podras volver a la home de PreguntadOrt y desde alli podras acceder a tus puntajes junto a una seccion llamada creditos donde podras acceder a los desarrolladores de la web y si es necesario contactarlos. Saludos, espero que disfrutes tu reccorido en esta web realizada con mucho esfuerzo para que los usuarios disfruten su experiencia en PreguntadOrt</p>
            <div     class="configjuego">
                    <a class="navbar-brand" href='@Url.Action("ConfigurarJuego", "Home")'>ConfigurarJuego</a>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
            </div>
        </div>
    </div>
</body>