@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/index.css"/>
</head>
<body>
    <div class="logo">
        <img src="~/img/Preguntados_Logo.png" alt="Logo Preguntados">
    </div>   
    <div class="btn">
        <button type="button">

        <a href="@Url.Action("ConfigurarJuego", "Home")">Jugar!</a>

        </button>
    </div>
</body>
</html>
