@if(ViewBag.EsCorrecta == true)
{
    <h1>LA RESPUESTA ES CORRRECTAAAAAAAAAAAAA!!!!!!!!!!</h1>
    <img src="wwwroot/img/Respuesta correcta.png">
}
else 
{
    <h1>La respuesta es incorrecta, la respuesta correcta era @ViewBag.RespuestaCorrecta</h1>
    <img src="wwwroot/img/Respuesta incorrecta.png">
}

<h1>Hola</h1>